<% layout('/layouts/list.html', {title: ctitle}){ %>
跑啦啦啦8
<table id="list2" class="table table-striped table-bordered table-hover"></table>
<div id="pager2"></div>


<link rel="stylesheet" href="/static/vendors/jqgrid/css/ui.jqgrid.css" />
<link rel="stylesheet" href="/static/vendors/jqgrid/css/ui.jqgrid-bootstrap.css" />
<link rel="stylesheet" href="/static/vendors/jqgrid/css/ui.jqgrid-bootstrap-ui.css" />
<!--<script type="text/javascript" src="${staticPath}/modules/jqgrid/js/jquery.jqGrid.src.js"></script>-->
<!--<script type="text/javascript" src="${staticPath}/modules/jqgrid/js/i18n/grid.locale-cn.js"></script>-->
<script type="text/javascript" src="/static/vendors/jqgrid/js/jquery.jqGrid.min.js"></script>
<script type="text/javascript" src="/static/vendors/jqgrid/js/i18n/grid.locale-cn.js"></script>
<script src="${staticPath}/modules/testdatatables/testjqGrid.js"></script>
<% } %>
